<div class="temp-layout">
    
    <div class="section-nav" >

        <div  class="nav" >
            <img src="../../../../assets/img/logo.svg" alt="">

            <button class="btn active" routerLink="inicio" >Inicio</button>
            <button class="btn">Tienda</button>
            <button class="btn">Soporte</button>
            <button class="btn">Panel de promociones</button>
            <button class="btn anuncio" routerLink="/seller/anuncio">NUEVO ANUNCIO</button>
        </div>

        <div class="user">
            <button class="btn" > <span class="icon icon-bell"></span> </button>

            <div class="content">

                <div class="cont-img">
                    <img src="../../../../assets/img/user_example.jpg" alt="   ">
                </div>

                <button class="options"> <span class="icon icon-cheveron-down"></span> </button>
            </div>
        </div>

    </div>

    <div class="temp-main-landing">

        <router-outlet></router-outlet>
    </div>
</div>