    <div class="temp-comprar">
        <button class="btn btn-back" (click)="backClicked()" > <span class="icon icon-cheveron-left"></span> </button>
        <div class="section-info">

            <div class="section-photo">
                <div class="photo-select">
                    <div class="chevron-left"> <span class="icon icon-cheveron-left"></span> </div>
                    <img src="../../../../assets/img/Autos/auto1.jpg" alt="">
                    <div class="chevron-rigth"><span class="icon icon-cheveron-right"></span> </div>
                </div>

                <div class="group-photo"  >
                    <div class="photo" *ngFor="let item of ads.images">
                        <img [src]="'https://cdn.autosmotos.es/'+item.path" alt="">
                    </div>
                </div>
            </div>

            <div class="info">

                <div>
                    <h1 class="titulo">  </h1> 

                    <div class="calificacion">
                        <h4>Vendedor / Calificación de vendedor</h4>
        
                        <h4 class="color-rojo"> 5.0 <span class="icon icon-star color-rojo"></span> </h4>
                    </div>
                </div>

                <h1 class="color-rojo">  </h1>

                <div class="grid gap-20">
                    <button class="btn-primary btn-block"> CONTACTAR POR WPP</button>
                    <button class="btn-primary-claro btn-block"> CONTACTAR POR TEL</button>
                </div>

                <div class="card-comentario">
                    <div class="grid gap-10">
                        <h3> <span class="title">Vendedor:</span> {{vehiculo.dealer?.company_name}} </h3>
                        <div class="column-space-between">
                            <h3>Ubicación: {{vehiculo.dealer?.address}} </h3>
                            <button class="btn vermas">Ver mapa</button>
                        </div>
                        <h3>Web: <span class="color-rojo"> www.xxxxx.com</span></h3>
                        <h3>Otros modos de contacto</h3>

                        <h3> <span class="icon icon-mail"></span> {{vehiculo.dealer?.email_address}}  </h3>
                    </div>
                    <h4><span class="color-rojo">5.0 <span class="icon icon-star color-rojo"></span> </span> </h4>
                    
                </div>

            </div>

        </div>

        <div class="section-body">

            <div class="section">
                <h2>Descripción</h2>
                <p> 
                    {{vehiculo.ad.description}}
                </p> 
            </div>

            <div class="section">
                <h2>Características técnicas</h2>

                <div class="caracteristicas">
                    <div>
                        <h4>Tipo de vehículo: {{vehiculo.ad?.type}}</h4>
                        <h4>Marca: {{vehiculo.make?.name}} </h4>
                        <h4>Modelo: {{vehiculo.model?.name}}</h4>
                        <h4>Condición: {{vehiculo.condition}} </h4>
                        <h4>Kilometraje: {{vehiculo.mileage}} </h4>
                        <h4>Combustible: {{vehiculo.fuel_type?.external_name}} </h4>
                        <h4>Transmisión: {{vehiculo.transmission_type?.external_name}} </h4>
                        <h4>Tracción /Drivetrain: xxxxx</h4>
                        <h4>Potencia (HP): {{vehiculo.power_hp}}</h4>
                        <h4>Capacidad cilíndrica: {{vehiculo.engine_displacement}} </h4>
                    </div>

                    <div>
                        <h4>Color exterior: {{vehiculo.exterior_color}} </h4>
                        <h4>Color interior: {{vehiculo.interior_color}}</h4>
                        <h4>Vendedor: {{vehiculo.dealer?.company_name}}</h4>
                        <h4>Inspección validada: xxxxxxxx</h4>
                        <h4>Puertas: {{vehiculo.doors}}  </h4>                   
                        <h4>Plazas: {{vehiculo.seats}}</h4>                   
                        <h4>Lugares para dormir: xxxxx</h4>                   
                        <h4>Engranajes: xxxxx</h4>                   
                        <h4>Cilindros: xxxxx</h4>                   
                        <h4>Consumo de combustible: xxxxx</h4>                   
                    </div>

                    
                </div>



            </div>

            <div class="section-comentario">
                <h3 class="titulo">Reseñas sobre el vendedor</h3>

                <div class="card-comentario">

                    <div class="card-comentario-content">
                        <h3 class="titulo"> Nombre </h3>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. 
                        </p>

                        <h4>Valoró con  <span class="color-rojo">5.0 <span class="icon icon-star color-rojo"></span> </span> </h4>
                    </div>
                    <h4>Hora</h4>
                </div>

                <div class="card-comentario">

                    <div class="card-comentario-content">
                        <h3 class="titulo"> Nombre </h3>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum eu lacus purus morbi. Velit urna, sed urna id turpis gravida. 
                        </p>

                        <h4>Valoró con  <span class="color-rojo">5.0 <span class="icon icon-star color-rojo"></span> </span> </h4>
                    </div>
                    <h4>Hora</h4>
                </div>

                <button class="btn btn-vermas">Ver más</button>
            </div>


            <div class="section-opinion">
                <h2 class="titulo">Deja una reseña sobre el vendedor</h2>

                <input type="text" placeholder="Nombre">

                <textarea name="" id="" cols="30" rows="5" placeholder="Reseña"></textarea>

                <h4>Valoración</h4>
                <div></div>
            </div>

        </div>

    </div>