
<div class="temp-deseo">

    <div class="section-header">

        <div class="section-top">
            <h1>Tu lista de deseos</h1>
            <h3>(llena)</h3>

            <button class="btn color-rojo font-500"  >VACIAR</button>
        </div>

        <select class="" name="" id="">
            <option value="">Ordenar</option>
        </select>
    </div>

    <div class="section-content">

        <div class="card-v" *ngFor="let item of [1,2,3,4]" >
            <div class="section-img">
                <img src="../../../../assets/img/Autos/auto1.jpg" alt="">
                <button class="btn btn-bookmark"><span class="icon-bookmark text-black"></span></button>
            </div>

            <div class="section-body">
                <h2 class="title"> titulo </h2>

                <div class="grid gc-2x-g">
                    <div class="grid gap-10">
                        <h4>Marca: </h4>

                        <h4>Categoría:  </h4>
                    </div>

                    <div class="grid gap-10">
                        <h4>Estado: </h4>
                    </div>

                </div>
                
                <h1 class="title"> item.price </h1>

                <div class="footer">
                    <button><img src="../../../../assets/img/btn-wsp.png" alt=""></button> 
                    <button><img src="../../../../assets/img/btn-phone.png" alt=""> </button> 
                    <div class="grid gap-10">
                        <h4>Vendedor</h4>
                        <span class="color-rojo">5.0 <span class="icon-star color-rojo"></span></span>  
                    </div> 
                </div>
            </div>
        </div>

    </div>

</div>